/*
============================================
         Základní Styl 
============================================
*/

* { margin: 0px; padding: 0px; } 

body {
  font-family: 'Tahoma CE', 'Verdana CE', 'ArialCE', 'Lucida Grande CE', 'Helvetica CE', Tahoma, Verdana, Arial, lucida, sans-serif; 
  font-size: 13px;
  text-align: center;
  color: #ffffff;
  background-color: black; }

h1, h2, h3, h4, h5, h6   {
	font-size: 16px;
	font-weight: bold;
  margin-top: 5px; margin-bottom: 5px;
  padding-left: 20px; }
h2   { font-size: 16px; } 
h3   { font-size: 15px; }
h4   { font-size: 15px; }
h5   { font-size: 14px; }
h6   { font-size: 14px; }

h3.dkc { 
  border-bottom: 2px solid black; 
  margin-bottom: 8px;
  font-weight: bold; }

img { 
  border: 0px; } 
i {  } 
form { 
  border: 0px; }
fieldset legend { 
  color: black;
  font-weight: bold;
  padding-left: 3px;
  padding-right: 4px; }
input { 
  display: inline;
  border: 1px solid #d3d3d3; 
  background: white;
  color: black; }
input.hidden { 
  display: none; }
input.inputradio { 
  display: inline; height: 13px;
  border: 0px; margin: 0px; padding: 0px;
  background-color: black; }
button { 
  display: inline;
  border: 1px solid black;
  background: white; }
textarea { 
  display: inline;
  border: 1px solid black;
  background: white; }
select { 
  display: inline;
  border: 1px solid black; } 
select optgroup { 
  font-style: normal;
  font-weight: normal; }
hr {  }
label { font-size: 13px; }
table { font-size: 13px; }
table thead { font-weight: bold; }
table tr.red td { color: red; }
#center #hlavni .text table td.no_hover a:hover { 
  color:#000000; 
  text-decoration:none; 
  background-color:#ffffff; }
table td { padding: 2px; }

a:link, a:visited, a:active { 
  color: #ffffff; text-decoration: underline; } 
a:hover { 
  color: #000000;
  text-decoration: none; background-color: #ffffff; } 

#center { 
	padding: 0px; margin: auto;
	width: 870px; } 
#hlavni { 
	display: block; 
	float: left; 
	text-align: left; 
	width: 870px; } 

#top {
  display: block;
  height: 200px;
  width: 100%;
  background-color: #ff0033; }

#column_1 { 
  display: block;
  float: left;
  width: 120px; }

#column_2 {
  display: block;
  float: left;
  width: 750px;
  padding-bottom: 15px; }

#toe { 
	display: block; 
  border-top: 2px solid white;
  padding: 2px;
  text-align: center; }



